.card-user {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 200px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.card-user__title {
  margin: 0 0 20px 0;
  font-size: 20px;
}

.card-user__img {
  width: 80px;
  margin: 0 auto;
  border-radius: 50%;
}


.card-user__name,
.card-user__email {
  margin: 0 0 10px 0;
}

.card-user__name {
  margin-top: 20px;
}
